.logo {
    width: 120px;
    height: 31px;
    background: rgba(255,255,255,.2);
    border-radius: 6px;  
    margin: 16px 24px 16px 0;
    float: left;
    background:url('../../src/img/timg.jpg') no-repeat center;
    background-size: cover;
  }